.bw {
    color: white;
}
.min-h-screen {
    min-height: 84.4vh !important;
}
.center{
    margin: auto;
    margin-top: 1.5%;
}
.l{
    font-size: 2rem;
}
.recipe{
    width: 150%;
}
.sp{
    margin: 20px
}
/* .feed{
    max-width : 100vw !important;
    padding: 0 2%;
} */
/* .v{
    visibility: hidden;
} */
